@page
@model RPC_Autentication_Module.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.Username" class="control-label"></label>
                <input asp-for="User.Username" class="form-control" />
                <span asp-validation-for="User.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Firstname" class="control-label"></label>
                <input asp-for="User.Firstname" class="form-control" />
                <span asp-validation-for="User.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Lastname" class="control-label"></label>
                <input asp-for="User.Lastname" class="form-control" />
                <span asp-validation-for="User.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.BirthDate" class="control-label"></label>
                <input asp-for="User.BirthDate" class="form-control" />
                <span asp-validation-for="User.BirthDate" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group" style="margin-right: 20px">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Cancel" class="btn btn-primary" style="margin-left: 20px" asp-page="Login" formnovalidate />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
