@page "/"
@model RPC_Autentication_Module.Pages.Users.LoginModel
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="squareContainer">
        <form method="post">
            <div class="division" style="max-height:min-content">
                <h3>Sign in</h3>

            </div>
            <br />

            <div>

                <label asp-for="credential.UserName"></label>
                <br />
                <input type="text" asp-for="credential.UserName">
            </div>

            <div>
                <label asp-for="credential.Password"></label>
                <br />
                <input type="text" asp-for="credential.Password">
            </div>

            <br />

            <div>
                <input type="submit" value="SIGN IN">
            </div>
            <br />

            <div class="division">
            </div>
            <br />

            <div>
                <label>New User</label>
                <br />
                <input type="submit" asp-page="Create" value="SIGN UP">
                <script src="~/js"></script>

            </div>
            <br />

        </form>
        
    </div>

</body>
</html>